extends layout

block content
  h1= title
  p Welcome to #{title}

  // BUTTON
  button(type="button", class="btn btn-secondary", onclick="reduce()") Sample Button

  // RESULT DIV
  div(id="use") take some away

  // SCRIPT
  script.
    let current = 11;
    let quantity = 2;

    function reduce() {
      current -= quantity;
      if (current < 0) {
        current = 0;
      }
      document.getElementById("use").innerHTML = `Reduced by ${quantity} to ${current}`;
    }